@page
@model CronosegAccess.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Uid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Uid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.dateIni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.dateIni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.dateEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.dateEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Zone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Zone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Schedule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Schedule)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.idUser">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
